
.DS_Store
*.swp
*~.nib

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

xcuserdata
DerivedData

*.xcuserstate

*.xcbkptlist


Classes/Shared/.DS_Store

*.xcbkptlist

*.xcscheme

*.xcuserstate
